body {
 background-color: #E09A7E;
 font-family: Arial, Helvetica, sans-serif;
 display: flex;
 flex-wrap: wrap;
}
h1 {
 color: #486154;
 text-align: center;
 width: 100%;
}
h1:hover {
 color: #7DE0AF;
 text-align: center;
 width: 100%;
}
a {
 text-decoration: none;
 color: black;
}
.assign {
 background-color: #7DE0AF;
 margin: 10px;
 padding: 10px;
 border-radius: 20px;
 width: 20%;
 box-shadow: 8px 8px #486154;
 display: block; /* instead of flex */
}
.assign img {
 width: 200px;
 margin: 10px;
 border: 2px solid #614F48;
}
.assign img:hover {
 width: 200px;
 margin: 10px;
 border: 2px #614F48;
}
