

body {
  background: #0AAEE3;
  font-family: Arial, Helvetica, sans-serif;
} 

h1 {
  color: #261EA8;
  text-align: center;
}

.assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: #D5D5D5;
}

.assign img {
  width: 200px;
  padding: 10px;
}

